<div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <a class="navbar-brand cabin logo" ui-sref="root.jobs({all:true})">DataScienceMax</a>
          </div>

          <div class="collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class ="container">
    <div class="jumbotron bg-logo">
    </div>
  </div>
