/* div{
  border:0.2px solid;
}
 */
.company-logo img{
  max-width:100%;
  height:auto;
}

.job-group{
  margin: 40px 0px 30px -20px;
}
.job-main:hover{
 background-color:#f6f6f6;
}

.job-main{
  @media(max-width:768px){
    flex-direction:column;
  }
}

.job-role h2{
  font-size:1.2rem;
}

.job-main-content{
  border:1px;
}

.bd-highlight{
  border:1px solid #ccc;
  border-radius:3px;
}

a.prevent-link{
  text-decoration:none;
  color:inherit;
}

.company-name, .job-location{
    font-family: "Helvetica Neue","Helvetica","Arial";
  color:#939393;
  margin:auto;
  font-weight:400;
  font-size:1em;
  text-align:center;
}

.tag-design{
  margin:0.2em;
}

.tag-design span{
  border:2px solid #000;
  border-radius:5px;
  min-width:25px;
  padding: 0.33em;
  margin:0.2em;
  text-transform:uppercase;
  vertical-align:middle;
}

.tag span{
  font-family: "Helvetica Neue","Helvetica","Arial";
  font-size:0.7rem;
  font-weight:900;
  margin:auto;
  text-align:center;
  vertical-align:middle;
}

.tag span:hover{
  background:#000;
  color:#fff;

}

.apply-button{
  border:2px solid #000;
  border-radius:5px;
  height:45%;
  margin:auto;

}

.apply-button:hover{
  background-color:#ff4852;
  color:#fff;


}

.apply-button p{
  width:100%;
  margin:auto;
  padding:0.33em;
  text-align:center;
}

a:hover .heart-icon{
  color: #FF1493;
}
