<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 col-xl-8 col-sm-12">
      <div class="d-flex flex-column">
        <div data-class= "job type featured shortlisted recent" class="job-class p-2">
          <h3> Featured Jobs </h3>
        </div>

      <div ng-repeat ="job in ctr1.jobDetailJson" class="job-main d-flex flex-wrap bd-highlight mx-auto pt-2 pb-2 pr-3" >
        <div class="hidden-sm-down col-md-2 company-logo ">
          <img src="images/facebook.png" alt="Company logo" class="mx-auto ">
          </div>
        <div class="col-xs-12 col-sm-12 col-md-4 p-2">
          <a class="prevent-link job-role" href="#"> <h2>{{::job.job_position}}</h2></a>
          <a class="prevent-link" href="#"><span class="company-name "> Dell India </span> <span class="job-location">, {{::job.job_location}} </span> </a>
        </div>
        <div class="d-flex flex-wrap col-xs-12 col-sm-12 col-md-4" >
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>
          <div class="tag tag-design">
            <span> Remote Time</span>
          </div>
          <div class="tag tag-design">
            <span> nlp</span>
          </div>
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>

        </div>
        <div class="hidden-sm-down col-md-2 apply-button ">
          <p> Apply </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
