<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="../css/filter.css" rel="stylesheet" />

<body>
  <div class="container-fluid">
    <div class="row justify-content-left">
    <div class="col-md-2 col-lg-2 filter-bucket">
      <div class="d-flex flex-column">
        <div>
          <div class="d-flex justify-content-start p-2 filter-meta">
            <div class="text-left">Filters</div>
            <div class="ml-auto text-right">CLEAR ALL</div>
          </div>
        </div>
        </div>

      </div>
    <div class ="col-lg-9">
      Empty Text
    </div>
  </div>


  </div>

</body>
</html>
