<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-10 col-sm-12">
      <div class="d-flex flex-column">
        <div data-class= "job type featured shortlisted recent" class="job-class p-2">
          <h3> {{$ctr1.templateTitle}} </h3>
        </div>

      <div ng-repeat ="job in $ctrl.jobDetails" class="job-main d-flex flex-wrap bd-highlight mx-auto pt-2 pb-2 pr-3" >
        <div class="hidden-sm-down col-md-1 company-logo ">
          <img src="images/facebook.png" alt="Company logo" class="mx-auto">
          </div>
        <div class="col-xs-12 col-sm-12 col-md-4 p-2">
          <a class="prevent-link job-role" href="#"> <h2>{{::job.job_position}}</h2></a>
          <a class="prevent-link" href="#"><span class="company-name "> {{::job.company_name}} </span> <span class="job-location">, {{::job.job_location}} </span> </a>
        </div>
        <div class="d-flex flex-wrap align-content-start col-xs-12 col-sm-12 col-md-4 mb-0" >
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>
          <div class="tag tag-design">
            <span> Remote Time</span>
          </div>
          <div class="tag tag-design">
            <span> nlp</span>
          </div>
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>
          <div class="tag tag-design">
            <span> Full Time</span>
          </div>

        </div>
        <div class="d-flex align-content-center">
        <div class="mx-auto my-auto">
          <span> 1d</span>
        </div>
        </div>
        <div class="hidden-sm-down col-md-2 apply-button">
          <a data-toggle="tooltip" data-animation="false" data-placement="bottom" title="{{'Apply on ' + job.Source}}" target="_blank" rel="external" class="prevent-link" href="{{::job.job_link}}"><p> Apply </p></a>
        </div>
        <div class="hidden-sm-down m-auto">
          <a data-toggle="tooltip" data-animation="false" data-placement="right" title="Shortlist this job" class="prevent-link" href="#"
          ng-click="$ctr1.shortlistClick({$Id:job.jobId})">
          <span class="fa fa-heart heart-icon" title="Shortlist this job" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
