<job-template template-title="Shortlisted Jobs" job-details="ctr1.shortListedJobsJson" shortlist-click="ctr1.remShortListJob($Id)"></job-template>
<job-template template-title="Jobs Since you last visited" job-details="ctr1.lastVisitedJobsJson" shortlist-click="ctr1.shortListThisJob($Id)"></job-template>
<job-template template-title="This week" job-details="ctr1.lastWeekJobsJson" shortlist-click="ctr1.shortListThisJob($Id)"></job-template>
<job-template template-title="This month" job-details="ctr1.jobDetailJson" shortlist-click="ctr1.shortListThisJob($Id)"></job-template>
